<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1251"/>
    <link type="text/css" href="css/main.css" rel="stylesheet"/>
</head>
<body>
<form action="#" th:action="@{/addnews}" th:object="${news}" method="post">
    <p><b>Name of news</b></p>
    <input type="text" th:field="*{name}"/>

    <p><b> Text of news</b></p>
    <textarea th:field="*{text}"/>

    <p><b> Category of news</b></p>

    <p>
        <select th:field="*{category.id}">
            <option th:each="category_section : ${allCategories}"
                    th:value="${category_section.id}"
                    th:text="${category_section.name}"
            />
        </select>
    </p>
    <input type="submit" value="add"/>
</form>
</body>

</html>

